<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="plugins" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
	</configSections>
	<plugins>
		<typeAliases>
			<typeAlias alias="string" type="System.String, mscorlib" />
			<typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
			<typeAlias alias="IPlugin" type="PluginFramework.IPlugin, PluginFramework" />
		</typeAliases>
		<containers>
			<container name="PluginContainer">
				<extensions>
					<add type="LSlicer.Extensions.CustomUnityContainerExtention, LSlicer" />
				</extensions>
				<extensionConfig>
					<add name="CustomExtensionConfigHandler" type="LSlicer.Extensions.CustomExtensionConfigHandler, LSlicer"
						 domain="CustomAppDomain" shadowFiles="Shadow" />
				</extensionConfig>
			</container>
		</containers>
	</plugins>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>